<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>About Us</h1>


    </header>

    <main>
        <section>
            <h2>Founder</h2>
            <div class="founder">
                <h3> BHAVANA </h3>
                <p>Mobile: +91 8886106909</p>
                <p>Email: art123@gmail.com</p>
                <p>Reference: <a href="https://gmail.com/art">Bhav's Artworks</a></p>
            </div>
            <h2>Arts Co-Worker</h2>
            <div class="art co-worker">
                <h3> HIMAJA </h3>
                <p>Mobile: +91 9897965406</p>
                <p>Email: priya234@gmail.com</p>
                <p>Reference: <a href="https://gmail.com/bhav">Priya's Artworks</a></p>
            </div>

        </section>
    </main>

    <footer>
        <p>&copy; 2024 Your Online Art Gallery</p>
    </footer>
</body>
</html>

